<header>
  <div>
    <p id='Title'>Sorting Algorithms Visualized</p>
  </div>
</header>
<div id='MainContent'>
  <div id='SelectSortMenu' [hidden]='!SelectingAlgorithm'>
    <p>Select Algorithm</p>
    <div class='Grid'>
      <div (click)='SetSort("Quick Sort")'>
        <p>Quick Sort</p>
      </div>
      <div (click)='SetSort("Merge Sort")'>
        <p>Merge Sort</p>
      </div>
      <div (click)='SetSort("Insertion Sort")'>
        <p>Insertion Sort</p>
      </div>
      <div (click)='SetSort("Radix Sort")'>
        <p>Radix Sort</p>
      </div>
      <div (click)='SetSort("Bogo Sort")'>
        <p>Bogo Sort</p>
      </div>
    </div>
  </div>
  <h1 class='Centered' id='SortingWith'>Sorting with 
    <span class='Button' (click)='ShowAlgorithmList()'>{{SortingAlgorithm}}</span>
  </h1>
	<canvas id='DataGraph' width=1500 height=1000></canvas>
  <div class='InnerBox'>
    <h2 style='display: block'>Sorting Settings</h2>
    <button class='Button' (click)='ResetGraph()'>
      <p>Reset Graph</p>
    </button>
    <div class='FormGroup'>
      <p>Sorting Speed: {{SortSpeed}}ms</p>
      <input class='Slider' type='Range' step='0.01' min='2' max='31.62' value='3.16' id='SpeedSlider'(input)='SetSpeed($event)'>
    </div>
    <div class='FormGroup'>
      <p>Sample Size: {{SampleSize}}</p>
      <input class='Slider' type='Range' step='0.01' min='1.4' max='128' value='16' id='SpeedSlider'(input)='SetSample($event)'>
    </div>
  </div>
  <div class='InnerBox'>
    <h2>Visual Settings</h2>
    <div class='FormGroup'>
      <p>Graph Type: {{GraphType}}</p>
      <input class='Slider' type='Range' step='1' min='0' max='3' value='0' id='SpeedSlider'(input)='SetGraphType($event)'>
    </div>
  </div>
</div>