<header>
  <div>
    <p id='Title'>Sorting Algorithms Visualized</p>
  </div>
</header>
<div id='MainContent' [hidden]='SelectingAlgorithm'>
  <h1 class='Centered' id='SortingWith'>Sorting with 
    <span class='Button' (click)='ShowAlgorithmList()'>{{SortingAlgorithm}}</span>
  </h1>
  <p id='ErrorMessage'>{{ErrorMessage}}</p>
	<canvas id='DataGraph' width=1500 height=1000></canvas>
  <div id='GraphControls'>
    <button class='Button' (click)='ResetGraph()'>
      <p>Reset Graph</p>
    </button>
  </div>
  <div id='BottomMenu' class='InnerBox'>
    <div collapsed='false' class='Button' (click)='ShowMenu($event)'>
      <h2>Statistics</h2>
      <svg width=50 height=30>
        <path d='M 5,5 L 25,20 L 25,20 L 45,5' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Sorting Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Visual Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Sound Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div [hidden]="SortingAlgorithm !== 'Radix Sort'" collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Radix Sort Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div [hidden]="SortingAlgorithm !== 'Shell Sort'" collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Shell Sort Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
    <div [hidden]="SortingAlgorithm !== 'Bucket Sort'" collapsed='true' class='Button' (click)='ShowMenu($event)'>
      <h2>Bucket Sort Settings</h2>
      <svg width=50 height=30>
        <path d='M 5,25 L 5,5 L 45,5 L 45,25' stroke='#ff0000' stroke-width=10 fill='transparent'>
        </path>
      </svg>
    </div>
  </div>
  <div id='SelectedSettings' class='InnerBox' [hidden]='BottomMenu == 0'>
    <div [hidden]='BottomMenu != 1'>
      <h2>Statistics</h2>
      <p>{{SortingAlgorithm}} Description: {{AlgorithmDescription}}</p>
      <p>{{SortingAlgorithm}} Example: {{AlgorithmExample}}</p>
    </div>
    <div [hidden]='BottomMenu != 2'>
      <h2>Sorting Settings</h2>
      <div class='FormGroup'>
        <p>Sorting Speed: {{SortSpeed}}ms</p>
        <input class='Slider' type='Range' step=0.5 min=0 max=10 value=2 (input)='SetSpeed($event)'>
      </div>
      <div class='FormGroup'>
        <p>Sample Size: {{SampleSize}}</p>
        <input class='Slider' type='Range' step=0.5 min=2 max=14 value=8 (input)='SetSample($event)'>
      </div>
      <div class='FormGroup'>
        <p>Sample Type: {{SampleType}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=5 value=0 (input)='SetSampleType($event)'>
      </div>
    </div>
    <div [hidden]='BottomMenu != 3'>
      <h2>Visual Settings</h2>
      <div class='FormGroup'>
        <p>Graph Type: {{GraphType}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=4 value=0 (input)='SetGraphType($event)'>
      </div>
      <div class='FormGroup'>
        <p>Graph Colors: {{GraphColor}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=3 value=0 (input)='SetGraphColor($event)'>
      </div>
      <div class='FormGroup'>
        <p>Show Sweeper: {{ShowSweeper}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=1 value=1 (input)='SetShowSweeper($event)'>
      </div>
    </div>
    <div [hidden]='BottomMenu != 4'>
      <h2>Sound Settings</h2>
      <div class='FormGroup'>
        <p>Sound: {{SoundType}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=1 value=1 (input)='SetSoundType($event)'>
      </div>
      <div class='FormGroup'>
        <p>Volume: {{SoundVolume}}</p>
        <input class='Slider' type='Range' step=0.01 min=0 max=2 value=0.7 (input)='SetSoundVolume($event)'>
      </div>
    </div>
    <div [hidden]='BottomMenu != 5'>
      <h2>Radix Sort Settings</h2>
      <div class='FormGroup'>
        <p>Sort By: {{RadixSortBy}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=1 value=1 (input)='SetRadixSortBy($event)'>
      </div>
      <div class='FormGroup'>
        <p>Radix: {{RadixSortRadix}}</p>
        <input class='Slider' type='Range' step=1 min=2 max=16 value=2 (input)='SetRadixSortRadix($event)'>
      </div>
    </div>
    <div [hidden]='BottomMenu != 6'>
      <h2>Shell Sort Settings</h2>
      <div class='FormGroup'>
        <p>Gap Sequence: {{ShellSortGap}}</p>
        <input class='Slider' type='Range' step=1 min=0 max=3 value=0 (input)='SetShellSortGap($event)'>
      </div>
    </div>
    <div [hidden]='BottomMenu != 7'>
      <h2>Bucket Sort Settings</h2>
      <div class='FormGroup'>
        <p>Bucket Size: {{BucketSortSize}}</p>
        <input class='Slider' type='Range' step=1 min=2 max=32 value=8 (input)='SetBucketSortSize($event)'>
      </div>
    </div>
  </div>
</div>
<div id='MainContent' [hidden]='!SelectingAlgorithm'>
  <div id='GoBack'>
    <button class='Button' (click)='ShowAlgorithmList()'>Go Back</button>
  </div>
  <div class='InnerBox'>
    <h2>Exchange Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Quick Sort")' class='Button'>Quick Sort</p>
      <p (click)='SetSort("Bubble Sort")' class='Button'>Bubble Sort</p>
      <p (click)='SetSort("Cocktail Sort")' class='Button'>Cocktail Sort</p>
      <p (click)='SetSort("Gnome Sort")' class='Button'>Gnome Sort</p>
      <p (click)='SetSort("Stooge Sort")' class='Button'>Stooge Sort</p>
      <p (click)='SetSort("Bogo Sort")' class='Button'>Bogo Sort</p>
    </div>
  </div>
  <div class='InnerBox'>
    <h2>Selection Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Selection Sort")' class='Button'>Selection Sort</p>
      <p (click)='SetSort("Heap Sort")' class='Button'>Heap Sort</p>
    </div>
  </div>
  <div class='InnerBox'>
    <h2>Insertion Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Insertion Sort")' class='Button'>Insertion Sort</p>
      <p (click)='SetSort("Shell Sort")' class='Button'>Shell Sort</p>
    </div>
  </div>
  <div class='InnerBox'>
    <h2>Distribution Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Radix Sort")' class='Button'>Radix Sort</p>
      <p (click)='SetSort("Bucket Sort")' class='Button'>Bucket Sort</p>
    </div>
  </div>
  <div class='InnerBox'>
    <h2>Concurrent Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Bitonic Sort")' class='Button'>Bitonic Sort</p>
      </div>
    </div>
  <div class='InnerBox'>
    <h2>Other Sorts</h2>
    <div class='Grid'>
      <p (click)='SetSort("Sleep Sort")' class='Button'>Sleep Sort</p>
      <p (click)='SetSort("Stalin Sort")' class='Button'>Stalin Sort</p>
      <p (click)='SetSort("Merge Sort")' class='Button'>Merge Sort</p>
    </div>
  </div>
</div>