body {
	margin: 0em;
	background-color: var(--colorDark1);
	font-family: verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.1em;
}

:root {
	--colorDark1: #080000;
	--colorDark2: #1a0000;
	--colorDark3: #260000;
	--colorLight1: #ff1010;
	--colorLight2: #ff4444;
	--border: 1.5px solid var(--colorLight1);
	--transition-time: 500ms;
}

p, h1, h2, h3, h4, h5, h6, a, li, button {
	color: var(--colorLight1);
	word-wrap: break-word;
	display: inline-block;
}

svg, path {
	transition: ease-in-out 400ms;
}

header {
	background-color: var(--colorDark2);
	border-bottom: var(--border);
}

header > div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 50em;
	margin-left: auto;
	padding: 0.5em 1em;
	margin-right: auto;
}

#Title {
	font-size: 24px;
	margin: 0;
	padding: 0;
}

#SortingWith {
	margin-top: 0.4em;
	margin-bottom: 0.1em;
}

#SortingWith > span {
	padding: 0.3em 0.4em;
	line-height: 2em;
}

.Button {
	text-decoration: underline solid transparent;
	background-color: var(--colorDark3);
	border: var(--border);
	padding: 0.7em 1em;
	cursor: pointer;
	transition: ease-in-out 0.2s;
	white-space: nowrap;
	font-size: 1em;
}

.Button > p {
	display: inline;
}

.Button:hover {
	text-decoration-color: var(--colorLight1);
}

#MainContent {
	background-color: var(--colorDark1);
	max-width: 65em;
	margin: auto auto 1em auto;
}

.Centered {
	text-align: center;
	width: 100%;
}

.HoverBox {
	text-decoration: underline solid var(--colorLight1);
}

.Hidden {
	display: none;
}

#DataGraph {
	border: var(--border);
	background-color: var(--colorDark2);
	width: 80%;
	height: 32em;
	max-width: 65em;
	margin: 1em auto;
	display: flex;
	justify-content: space-around;
	padding: 1em;
}

#DataGraph canvas{
	border: var(--border);
}


#BottomMenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#BottomMenu > * {
	padding: 0em 0.6em;
	margin: 0.5em;
	display: flex;
	align-items: center;
}

#BottomMenu > *[hidden] {
	display: none;
}

#BottomMenu > * h2 {
	padding-right: 0.6em;
	font-size: 1.35em;
	margin: 0.4em 0.2em;
	font-variant: small-caps;
}

#SelectedSettings h2 {
	font-variant: small-caps;
	margin: 0.3em 0em 0em 0em;
}

#SelectedSettings p {
	margin: 0.8em 0em 0.8em 0em;
}

#GoBack {
	margin: 1em 0em 0em 0em;
	display: flex;
	justify-content: center;
	font-size: 1.2em;
}

.Grid {
	display: grid;
	grid-auto-rows: 5em;
	grid-template-columns: repeat(auto-fill, 10em);
  grid-column-gap: 0.6em;
	font-size: 1.1em;
}

.InnerBox {
	margin: 1.2em 1.2em 0em 1.2em;
	padding: 0.4em 1.5em 0.9em 1.5em;
	background-color: var(--colorDark2);
	border: var(--border);
}

.InnerBox p {
	font-size: 1.05em;
}

.InnerBox > h2 {
	font-variant: small-caps;
	margin: 0.4em 0em 0em 0em;
}

.FormGroup {
	align-items: center;
	display: flex;
}

.FormGroup > p {
	font-size: 1.1em;
	width: 17em;
	display: inline-block;
}

#GraphControls {
	display: flex;
	justify-content: center;
}

#ErrorMessage {
	display: block;
	margin: 0.2em;
	text-align: center;
	font-style: oblique;
	font-size: 1.1em;
}

#ErrorMessage:empty {
	display: none;
}

@media screen and (max-width: 640px) {
	.FormGroup {
		display: block;
	}
}

.Slider {
  appearance: none;
	width: 100%;
	overflow: hidden;
  height: 1.9em;
  background: var(--colorDark3);
	border: var(--border);
  outline: none;
}

.Slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.9em;
  height: 2em;
  background: var(--colorLight1);
  cursor: pointer;
	transition: background var(--transition-time);
	transition-timing-function: ease-in-out;
}

.Slider::-moz-range-thumb {
  width: 1.9em;
  height: 2em;
  background: var(--colorLight1);
  cursor: pointer;
	transition: background var(--transition-time);
	transition-timing-function: ease-in-out;
}

.Slider::-webkit-slider-thumb:hover {
  background: var(--colorLight2);
}

.Slider::-webkit-slider-thumb:hover {
  background: var(--colorLight2);
}